*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #2563eb;
    position: fixed;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    
}
.left-box, .right-box{
   text-align: center;
   padding: 5px;
    height: 100%;
    width: 50%;
   display: flex;
}
ul{
    padding: 5px;
    list-style: none;
     display: flex;
     gap: 16px;
    text-decoration: none;
    
}
li{
    text-decoration: none;
    font-size: large;
}
a{
    color: white;
    text-decoration: none;
}
.right-box{

    
    justify-content: flex-end;
}
.left-box{
    justify-content: flex-start;
}
h2{
    color:white
}
.image-section{
    width: 100%;
    height: 80%;
     border: 1px solid black;
}
.window-of-row-img{
    
    width:25%;
    height: 100%;
    border: 1px solid black;
    display:table-column;
    
}
.text{
    width: 100%;
    height: 25%;
display: flex;
justify-content: center;
align-items: center;    
}
.img-box{
    width: 100%;
    height: 50%;
}
.containner-row-first,.containner-row{
width: 100%;

height: 250px;
display: flex;
justify-content: space-around;
align-items: center;
}
.containner-row-first{
    margin-top: 15px;
}
.containner-row{
    margin-top: 200px;
}
.button-box{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.button{
    background-color: #2563eb;
    border-radius: 8px;
    padding: 8px;
    width: 60%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
